.article {
    position: relative;
}

.article:not(:first-child):before {
    content: '';
    width: 150px;
    height: 1px;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
}

.article-title {
    position: relative;
    color: #212121;
    font-size: 2.4rem;
    line-height: 1.3;
    text-align: center;
    margin: 0;
    padding: 0 2rem;
}

.article-title a {
    display: block;
    color: #212121;
}

.article-title a:hover {
    color: #212121;
}

.article-title a:hover span {
    box-shadow: inset 0 -2px 0 rgba(240, 56, 56, 0.4);
}

.article-title a span {
    padding-bottom: 3px;
    -webkit-transition: 150ms;
    transition: 150ms;
    box-shadow: inset 0 -2px 0 rgba(240, 56, 56, 0);
}

.article-top-meta {
    position: relative;
    color: #9e9e9e;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article-top-meta > span {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.article-top-meta a {
    color: #9e9e9e;
}

.article-top-meta a:hover {
    color: #F03838;
}

.article-top-meta .post-edit-link {
    color: #F03838;
}

.article-top-meta .post-edit-link:hover {
    color: #e41111;
}

.article-top-meta time {
    font-style: italic;
}

.article-excerpt {
    margin: 4rem 0;
    font-size: 1.6rem;
    color: #616161;
}

.article-footer:before, .article-footer:after {
    content: " ";
    display: table;
}

.article-footer:after {
    clear: both;
}

.article-meta {
    font-size: 1.3rem;
    color: #9e9e9e;
}

.article-meta > span:not(:last-child) {
    margin-right: 3rem;
}

.article-meta > span {
    display: inline-block;
}

.article-meta > span > span {
    line-height: 1;
    vertical-align: middle;
}

.article-meta a {
    color: #9e9e9e;
}

.article-meta a:hover {
    color: #F03838;
}

.article-meta i {
    vertical-align: middle;
    color: #9e9e9e;
    margin-right: .5rem;
}

.article-content img {
    max-width: 100%;
    height: auto;
}

.link-url {
    color: #616161;
    font-size: 75%;
    font-style: italic;
    font-weight: normal;
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
    word-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sticky-mark {
    position: absolute;
    right: 0;
    top: .1em;
    display: block;
    width: 12px;
    height: 11px;
    background-color: #F03838;
}

.sticky-mark:before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: #F03838 transparent transparent transparent;
}

.sticky-mark:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 0;
    border-color: transparent #F03838 transparent transparent;
}

.page-links {
    position: relative;
    text-align: center;
}

.page-links .page-links-title {
    margin-right: 5px;
}

.page-links a {
    margin-left: 5px;
    margin-right: 5px;
}

.posts-loop .article.format-quote .article-content > blockquote:first-child {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: #212121;
    font-size: 2.4rem;
    border-left: 0;
}

.posts-loop .article.format-quote .article-content > blockquote:first-child cite {
    font-size: 1.3rem;
}

.posts-loop .article.format-quote .article-content > blockquote:first-child cite:before {
    content: '- ';
}

.post-tags a {
    position: relative;
}

.post-tags a:before {
    content: '#';
}

.post-tags a:not(:last-of-type):after {
    padding-right: 5px;
}

.tags-list {
    text-align: center;
}

.tags-list a {
    display: inline-block;
    color: #616161;
    padding: 5px;
    margin: 5px 10px;
}

.tags-list a:before {
    content: '#';
}

.tags-list a:hover {
    color: #e41111;
}