.site-footer {
    position: relative;
    text-align: center;
    padding-top: 1rem;
    color: #9e9e9e;
}

.site-footer .site-info {
    color: #9e9e9e;
    font-size: 1.3rem;
    margin: 0.5rem 0;
}