.site-branding {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "Open Sans", arial, sans-serif;
    letter-spacing: 0.1em;
}

.site-branding .site-title {
    margin: 0;
    font-size: 1.4rem;
}

.site-branding .site-description {
    color: #9e9e9e;
    font-size: 1.3rem;
    margin: 1rem 0 0;
}

.site-branding a {
    display: inline-block;
    color: #fff !important;
    font-weight: bolder;
    background-color: #F03838;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.site-branding a:hover {
    color: #fff !important;
    padding: 0 1.5rem;
}

.main-navigation {
    text-align: center;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.6rem;
}

.main-navigation ul li {
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.main-navigation ul a {
    display: block;
    color: #F03838;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 0 1rem;
}

